<div class="row">     
     <div class="col-xs-0 col-sm-0 col-md-2"></div>
     <div class="col-md-4 p-5">  

          <!-- Add Recipe --> 
          <div class="add-recipe">
               <app-add-recipe></app-add-recipe>
          </div>

          <!-- Recipe List -->
          <div class="recipe-list mt-5">
               <app-recipe-list *ngFor="let arrayList of r_Array"></app-recipe-list>
          </div>

     </div>

     <!--  ./Recipe Item --> 
     <div class="col-md-6 p-5">
          <app-recipe-item></app-recipe-item>
     </div>

</div>