<!-- Display befor select a recipe -->
<!-- <h5>Please select a Recipe</h5> -->

<!-- Display after select a recipe -->
<a class="list-group-item clearfix" (click)="onSelect()" href="">
     <div class="row">
          <div class="col-xs-7"> 
               <h4 class="list-group-item fw-bold">Classic Pizza Recipe</h4>
               <p>Description</p>
          </div> 
          <div class="col-xs-5">
               <img src="assets/classic-pizza.jpeg"
                    style="max-height: 50px;" >
          </div>     
     </div>
</a>