<nav class="navbar-expand-lg navbar-light bg-light p-2">
     <h2 class="ms-4">Recipe Book</h2>
     <div class="navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav col-10">
               <a (click)="onSelect('recipe')" class="nav-item nav-link active ms-5" href="#recipe">Recipe</a>
               <a (click)="onSelect('shopping-list')" class="nav-item nav-link ms-5" href="#shopping-list">Shopping
                    list</a>
               <a (click)="onSelect('manage')" class="nav-item nav-link ms-5" href="#manage">Manage</a>
          </div>
          <!-- <div class="dropdown">
               <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
               </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
               </ul>
          </div> -->
          <div class="btn-group">
               <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" appDropdown #r="appDropDown">
                    Actions
               </button>
               <div [ngClass]="{'show':r.isOpen}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" style="cursor: pointer;">One</a>
                    <a class="dropdown-item" style="cursor: pointer;">Two</a>
               </div>
          </div>
     </div>
</nav>