<nav class="navbar-expand-lg navbar-light bg-light p-2">
     <h2 class="ms-4">Recipe Book</h2>
     <div class="navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          <a (click)="onSelect('recipe')" class="nav-item nav-link active ms-5" href="#recipe">Recipe</a>
          <a (click)="onSelect('shopping-list')" class="nav-item nav-link ms-5" href="#shopping-list">Shopping list</a>
          <a (click)="onSelect('manage')" class="nav-item nav-link ms-5" href="#manage">Manage</a>
          </div>
     </div>
</nav>