<div class="row">
     <div class="col-md-8">  
          <!-- Add Shopping List --> 
          <div class="add-shopping-list">
               <app-add-shopping-list
                    (addShopping)="addtoShoppingL($event)">
               </app-add-shopping-list>
          </div>
          <hr>
          <!-- Display Shopping List -->
          <div class="display-shopping-list">               
               <app-display-shopping-list
                    *ngFor="let arrayInput of shoppingList"
                    [displayShoppingList] = "arrayInput" >                    
               </app-display-shopping-list>
          </div>
     </div>
</div>