<div class="row">
     <div class="col-md-8">
          <p>Name</p>
          <input type="text" class="form-control" placeholder="">
     </div>
     <div class="col-md-4">
          <p>Amount</p>
          <input class="form-control" type="text" placeholder=""
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
     </div>
      <!-- Error -->
      <div [style.visibility]="emptyError ? 'visible' : 'hidden'" class="text-danger mt-2">
          <p><b>Check your inputs and try again.</b></p>
      </div>
      <!-- btn set -->
     <div class="btn-set ">
          <button class="btn btn-success">Add</button>
          <button class="btn btn-danger ms-2">Delete</button>
          <button class="btn btn-primary ms-2">Clear</button>
     </div>     
</div>