<div class="recipe-list">     
     <div class="card mt-2">
          <div class="row">
               <div class="card-body col-md-8 ms-2">
                    <h6>Classic Pizza Recipe</h6>
                    <p>Recipe desciption</p>
               </div>   
               <div class="card-body col-md-3">
                    <div class="text-center">
                         <img src="assets/classic-pizza.jpeg" class="img-fluid">  
                    </div> 
               </div> 
          </div>
     </div>
</div>